@import url("https://use.typekit.net/eia7dfc.css");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Bree+Serif&family=Courier+Prime:wght@400;700&family=Cutive&family=Sanchez&display=swap");

/* font-family: futura-pt, sans-serif;
font-weight: 600;
font-style: normal; */

/* font-family: "HelveticaNeue-Light", Helvetica Neue, Helvetica; */

/* font-family: futura-pt, sans-serif;
font-weight: 800;
font-style: normal; */

/* font-family: futura-pt, sans-serif;
font-weight: 700;
font-style: normal; */

/* font-family: "Bellota", cursive;
700

font-family: "Bree Serif", serif;
400

font-family: "Courier Prime", monospace;
regular 400
bold 700

font-family: "Cutive", serif;
400

font-family: "Sanchez", serif;
400 */

/* font-family: "HelveticaNeue-Light", Helvetica Neue, Helvetica; */

/* font-family: "Avenir", sans-serif; */

body {
  margin: 0;
  padding: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  /* font-style: bold; */
  display: flex;
  align-items: center;
  height: 100%;
  height: 100vh;
  min-height: 500px;

  background: url("https://res.cloudinary.com/dn1e07eul/image/upload/v1614897774/100%20Days%20Of%20Code/gbudapest_cnwup2.jpg")
    no-repeat center center/cover;
}

.calendar {
  color: #f8f3ec;

  margin: 10px auto;
  /* background: #f6aa1c; */
  background: #f7bec6;
  padding: 60px 40px 80px 40px;
  width: 95%;
  max-width: 750px;
  height: 540px;
  border-radius: 5px;
  box-shadow: inset rgba(85, 50, 50, 0.75) -1px -2px 2px,
    inset rgba(255, 255, 255) 3px 3px 3px,
    rgba(99, 54, 54, 0.75) 2px 2px 3px -1px;
  transition: all 0.2s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  position: relative;
}

.calendar__title {
  text-align: center;
}

.calendar--day-view {
  position: absolute;
  border-radius: 5px;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 10px 12px 10px rgba(2, 2, 2, 0.16);
  z-index: 2;
  overflow: hidden;
  transform: scale(0.5) translate(0px, 100px);
  opacity: 0;
  visibility: hidden;
  display: none;
  align-items: flex-start;
  flex-wrap: wrap;
}

.day-view-content {
  color: #222;
  width: 100%;
  padding-top: 55px;
}

/* Individual Day with left header */
.day-highlight,
.day-add-event {
  padding: 8px 10px;
  margin: 12px 15px;
  border-radius: 4px;
  background: #f7dde159;
  color: rgb(170, 167, 167);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.65px;
  /* font-family: "Avenir", sans-serif; */
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* start time and end time columns, default 100% width */
.row {
  width: 115%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row .qtr {
  width: 40%;
}

.row .half {
  width: 100%;
}

/* "Pink Day Box" */
.day-add-event {
  background: #fdafbc;
  color: #fff;
  padding: 16px;
  display: none;
  transform: translateY(-205px);
  opacity: 0;
}
.day-add-event[data-active="true"] {
  display: block;
  animation: popIn 250ms 1 forwards;
}

/* Event Name, Start Time, End Time */
.add-event-label {
  padding: 10px 0;

  font-family: "Avenir", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  color: #70484f;
}
.add-event-edit {
  display: block;
  margin: 4px 0;
  max-width: 70%;
  border-bottom: 2px solid #fff;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
}
.add-event-edit--long {
  max-width: 80%;
}

/* Input lines under the placeholders */
input.add-event-edit {
  border: none;
  border-bottom: 1.5px solid #fff;
  background: transparent;
  outline: none;
  font: inherit;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
}
.add-event-edit--error,
input.add-event-edit--error {
  border-color: #ee666b;
  animation: shake 300ms 1 forwards;
}
@keyframes shake {
  20%,
  60% {
    transform: translateX(4px);
  }
  40%,
  80% {
    transform: translateX(-4px);
  }
}

input.add-event-edit::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.568);
}

input.add-event-edit:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.568);
}

input.add-event-edit::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.568);
}

input.add-event-edit:-ms-input-placeholder {
  color: rrgba(255, 255, 255, 0.568);
}

/* Save and Cancel buttons */
.event-btn {
  padding: 3px 9px;
  /* border: 3px solid #fff; */
  color: #fff;
  cursor: pointer;
  display: inline-block;
  width: 65px;
  margin: 15px 5px;
  text-align: center;
}

.event-btn--save {
  /* border-color: #fff; */
  background: #fff0f0;
  color: #af7982;
  border-radius: 5px;
  border-color: transparent;
  outline: none;
}
.event-btn--save:hover {
  box-shadow: 2px 2px 6px rgba(2, 2, 2, 0.2);
}
.event-btn--cancel {
  background: #eb6f73;
  border-radius: 5px;
  color: #fff;
  border-color: transparent;
  outline: none;
}
.event-btn--cancel:hover {
  box-shadow: 2px 2px 6px rgba(2, 2, 2, 0.2);
}

/* Add a new event? */
.day-highlight .day-events-link {
  /* border-bottom: 2px solid #222; */
  padding: 0;
  cursor: pointer;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

#add-event {
  color: #f8879a;
  border-color: #f8879a;
  outline: none;
}

#add-event:hover {
  color: #8d7a8b;
  border-color: #04b6e2;
  outline: none;
}

/* "X Key" */
.day-view-exit {
  position: absolute;
  top: 20px;
  line-height: 1em;
  right: 22px;
  font-size: 24px;
  color: rgb(170, 167, 167);
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  cursor: pointer;
  opacity: 0;
  animation: popIn 200ms 1 forwards;
  text-transform: uppercase;
}

/* "day and date left header" */
.day-view-date {
  position: absolute;
  top: 19px;
  left: 22px;
  text-transform: uppercase;
  text-align: right;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  color: #fdafbc;
  /* border-bottom: 2px solid #222; */
  cursor: pointer;
}
.day-inspiration-quote {
  position: absolute;

  left: 10%;
  width: 80%;
  margin-top: -40px;
  height: calc(100% - 110px);

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.75em;

  font-weight: 800;
  letter-spacing: 0.25px;
  color: #fcced6;
  line-height: 1.5em;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  z-index: -1;
}

.day-event-list-ul {
  list-style: none;
  margin: auto;
  width: 95%;
  padding: 0;
  max-height: 300px;
  overflow: auto;
}
.day-event-list-ul li {
  padding: 10px;
  margin: 10px 0;
  /* background: #04b6e2; */
  /*   box-shadow: 0px 1px 1px  rgba(2,2,2,0.5); */
  position: relative;
}
.event-dates small {
  font-size: 0.65em;
  color: #444;
}

#calendar-month {
  color: #f8f3ec;
}
