@import url("https://use.typekit.net/eia7dfc.css");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Bree+Serif&family=Courier+Prime:wght@400;700&family=Cutive&family=Sanchez&display=swap");

/* font-family: futura-pt, sans-serif;
font-weight: 600;
font-style: normal; */

/* font-family: "HelveticaNeue-Light", Helvetica Neue, Helvetica; */

/* font-family: futura-pt, sans-serif;
font-weight: 800;
font-style: normal; */

/* font-family: futura-pt, sans-serif;
font-weight: 700;
font-style: normal; */

/* font-family: "Bellota", cursive;
700

font-family: "Bree Serif", serif;
400

font-family: "Courier Prime", monospace;
regular 400
bold 700

font-family: "Cutive", serif;
400

font-family: "Sanchez", serif;
400 */

/* font-family: "HelveticaNeue-Light", Helvetica Neue, Helvetica; */

/* font-family: "Avenir", sans-serif; */

body {
  margin: 0;
  padding: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  /* font-style: bold; */
  display: flex;
  align-items: center;
  height: 100%;
  height: 100vh;
  min-height: 500px;

  background: url("https://res.cloudinary.com/dn1e07eul/image/upload/v1614897774/100%20Days%20Of%20Code/gbudapest_cnwup2.jpg")
    no-repeat center center/cover;
}

.calendar {
  color: #f8f3ec;

  margin: 10px auto;
  /* background: #f6aa1c; */
  background: #f7bec6;
  padding: 60px 40px 80px 40px;
  width: 95%;
  max-width: 750px;
  height: 540px;
  border-radius: 5px;
  box-shadow: inset rgba(85, 50, 50, 0.75) -1px -2px 2px,
    inset rgba(255, 255, 255) 3px 3px 3px,
    rgba(99, 54, 54, 0.75) 2px 2px 3px -1px;
  transition: all 0.2s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  position: relative;
}

.calendar__title {
  text-align: center;
}

.calendar--day-view {
  position: absolute;
  border-radius: 5px;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 10px 12px 10px rgba(2, 2, 2, 0.16);
  z-index: 2;
  overflow: hidden;
  transform: scale(0.5) translate(0px, 100px);
  opacity: 0;
  visibility: hidden;
  display: none;
  align-items: flex-start;
  flex-wrap: wrap;
}

.day-view-content {
  color: #222;
  width: 100%;
  padding-top: 55px;
}

/* Individual Day with left header */
.day-highlight,
.day-add-event {
  padding: 8px 10px;
  margin: 12px 15px;
  border-radius: 4px;
  background: #f7dde159;
  color: rgb(170, 167, 167);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.65px;
  /* font-family: "Avenir", sans-serif; */
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* start time and end time columns, default 100% width */
.row {
  width: 115%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.row .qtr {
  width: 40%;
}
.row .half {
  width: 100%;
}
